<a href="https://colab.research.google.com/github/Jaum-V/Repositorio2/blob/main/Programa1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importancia dos tipos de variaveis
a = 2.75
print(type(a))
b = 3.25
print(type(b))
soma = a + b
print(type(soma))
print(soma)

<class 'float'>
<class 'float'>
<class 'float'>
6.0

Lembrar que sempre que quiser calcular é preciso informar que estou lidando com numero int ou float

In [ ]:
num = int(input("digite valor inteiro: "))
print(type(num))
quoc = num//2
resto = num % 2
print(quoc)
print(resto)

digite valor inteiro: 9
<class 'int'>
4
1

In [ ]:
v1 = float(input("Digite o valor 1: "))
v2 = float(input("Digite o valor 2: "))
media = (v1 * v2)/2
print(media)

Digite o valor 1: 4
Digite o valor 2: 2
4.0

In [ ]:
b = float(input("Digite o valor 1: "))
h = float(input("Digite o valor 2: "))
media = (b * h)/2
print(media)

Digite o valor 1: 156
Digite o valor 2: 23
1794.0

In [ ]:
p = float(input("Digite valor polegada: "))
mm = p * 25.4
print("Valor pol em mm = ",mm)

Digite valor polegada: 15
Valor pol em mm =  381.0

Ex 1

In [ ]:
from math import pi
r = float(input("Digite o valor do raio: "))
v = (((r * 4 * pi) * r**3)/3)
print("Valor do volume = ",v)

Digite o valor do raio: 10
Valor do volume =  41887.90204786391

Ex 2

In [ ]:
from math import pi
g = float(input("Digite o valor ângulo: "))
r = (g * (pi)/180)
print("Valor do radiano =", r)

Digite o valor ângulo: 10
Valor do radiano = 0.17453292519943295

Ex 3

In [ ]:
from math import pi
r = float(input("Digite o valor ângulo em radianos: "))
g = r * (180 / pi)
print("Valor do radiano =", g)

Digite o valor ângulo em radianos: 10
Valor do radiano = 572.9577951308232

Ex 4

In [ ]:
r = float(input("Digite o ângulo em radianos: "))
g = r * (400 / 27)
print("Valor em grados = ", g)

Digite o ângulo em radianos: 10
Valor em grados =  148.14814814814815

ímpar ou par (Exemplo 3)

In [ ]:
from math import pi
numero = int(input("Digite um numero inteiro: "))
if numero % 2 ==0:
  print(f"O numero {numero} é par.")
else:
  print(f"O numero {numero} é impar.")

Digite um numero inteiro: 11
O numero 11 é impar.

Raiz quadrada (Exemplo 4)

In [ ]:
import math
numero = float(input("Digite um numero: "))
if numero >= 0:
  raiz_quadrada = math.sqrt(numero)
  print (f"A raiz quadrada de {numero} é {raiz_quadrada: .2f}.")
else:
  print("Não exise raiz real para esse numero!")

Digite um numero: 4
A raiz quadrada de 4.0 é  2.00.

Camiseta (Teste Condicional)

In [ ]:
comprimento = float(input("Digite o comprimento da camiseta em centimetros: "))
largura = float(input("Digite a largura da camiseta em centimetros: "))
if comprimento <= 60 and largura <= 45:
  tamanho = "PP"
elif comprimento <= 65 and largura <= 48:
  tamanho = "P"
elif comprimento <= 70 and largura <= 51:
  tamanho = "M"
elif comprimento <= 75 and largura <= 54:
  tamanho = "G"
elif comprimento <= 80 and largura <= 57:
  tamanho = "GG"
else:
  tamanho = "XGG"
print(f"O tamanho da camiseta é {tamanho}.")

Digite o comprimento da camiseta em centimetros: 75
Digite a largura da camiseta em centimetros: 20
O tamanho da camiseta é G.

Ex 1 (17/09)

In [ ]:
p = float(input("Digite o valor em polegadas: "))
mm = p * (25.4)
print ("Valor em milimetros:",mm)

Digite o valor em polegadas: 10
Valor em milimetros: 254.0

Ex 2 (17/09)

In [ ]:
mm = float(input("Digite o valor em milimetros: "))
p = mm / (25.4)
print ("Valor em polegadas:",p)

Digite o valor em milimetros: 10
Valor em polegadas: 0.3937007874015748

Ex 3 (17/09)

In [ ]:
idade = float(input("Digite a idade: "))
if idade >= 16 and idade <= 70:
  print("pode votar")
else:
 print("não pode votar")

Digite a idade: 72
não pode votar

Ex extra (17/09)

In [ ]:
x = float(input("Digite um número inteiro: "))
r = x % 3
if r == 0:
  print("Multiplo")
else:
  print("Não multiplo")

Digite um número inteiro: 9
Multiplo

Ex extra 2 (17/09)

In [ ]:
a = float(input("Notas a: "))
b = float(input("Notas b: "))
media = (a + b)/2
print(media)
if media < 5:
  print("Não aprovado!")
if media >= 5:
  print("Aprovado!")

Notas a: 7
Notas b: 4
5.5
Aprovado!

In [9]:
for i in range(10,100):
  print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99